form {
  border-radius: var(--radius-large);
  margin: var(--margin-x-small);
  margin-block-start: var(--margin-medium);
  padding: var(--padding-medium);
  background-color: var(--surface-container);
  color: var(--on-surface);
}

form > .fields {
  padding: var(--padding-medium);
  background-color: var(--surface-container-high);
  border: none;
  border-radius: var(--radius-small);
  margin-block-end: var(--margin-small);
  max-inline-size: fit-content;
}

form > button {
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: var(--radius-x-small);
  padding: var(--padding-small) var(--padding-medium);
}

.field {
  margin-block-end: var(--margin-small);
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: var(--margin-medium);
  align-items: center;
}

@media screen and (max-width: 425px) {
  form > .fields {
    max-inline-size: unset;
  }
  .field {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--margin-x-small);
  }
}

.field:last-child {
  margin-block-end: 0;
}

.field > label {
  font-weight: bold;
}

.field > input,
.field > textarea,
.field > select,
.field > .image-input {
  border-radius: var(--radius-x-small);
  padding: var(--padding-x-small);
  background-color: var(--surface-container-highest);
  color: var(--on-surface);
  border: 0.1rem solid var(--outline-variant);
}

.field > input:hover,
.field > select:hover,
.field > textarea:hover {
  border: 0.1rem solid var(--on-surface);
}

.image-input {
  display: inline-flex;
  justify-content: center;
  position: relative;
}
.image-input > img {
  border-radius: var(--radius-x-small);
  width: clamp(200px, 20vw, 600px);
  aspect-ratio: 6/7;
  object-fit: cover;
  object-position: center;
}

.image-controls {
  --image-size: clamp(3rem, 5vw, 4rem);
  position: absolute;
  top: calc(50% - var(--image-size) * 0.5);
}
#open_file_browser,
#reset_image {
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-container);
}

.change-icon,
.reset-icon {
  padding: var(--padding-small);
}

@media screen and (prefers-color-scheme: light) {
  .change-icon,
  .reset-icon {
    filter: invert(13%) sepia(21%) saturate(2521%) hue-rotate(204deg)
      brightness(97%) contrast(110%);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .change-icon,
  .reset-icon {
    filter: invert(92%) sepia(3%) saturate(5029%) hue-rotate(191deg)
      brightness(101%) contrast(101%);
  }
}

.invisible {
  display: none;
}
