.category-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  place-items: center;
}

.item > img {
  aspect-ratio: 6/7;
  object-fit: cover;
  object-position: center;
  max-height: 20rem;
}
