:root {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color-scheme: light dark;
  font-size: 14px;

  --large-space: clamp(4rem, 8vw, 8rem);
  --medium-space: clamp(2rem, 2vw, 3rem);
  --small-space: clamp(0.5rem, 0.5vw, 1rem);

  --font-size-x-large: clamp(2rem, 3vw, 7rem);
  --font-size-large: clamp(1.5rem, 2.5vw, 5rem);
  --font-size-medium: clamp(1rem, 1vw, 3rem);
  --font-size-small: clamp(0.5rem, 0.75vw, 2rem);

  --radius-large: clamp(1rem, 4vw, 6rem);
  --radius-medium: clamp(1rem, 2vw, 3rem);
  --radius-small: clamp(1rem, 1vw, 2rem);
  --radius-x-small: clamp(0.5rem, 0.5vw, 1rem);

  --margin-medium: clamp(1.5rem, 3vw, 2rem);
  --margin-small: clamp(1rem, 2vw, 1rem);
  --margin-x-small: clamp(0.25rem, 0.5vw, 0.5rem);

  --padding-medium: clamp(1rem, 2vw, 2rem);
  --padding-small: clamp(0.5rem, 1vw, 1rem);
  --padding-x-small: clamp(0.1rem, 0.5vw, 0.5rem);

  --border-width-small: clamp(0.1rem, 0.1vw, 0.25rem);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

h1,
h2,
body,
p,
fieldset,
input,
button {
  padding: 0;
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --primary: rgb(88 89 146);
    --surface-tint: rgb(88 89 146);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(226 223 255);
    --on-primary-container: rgb(20 19 74);
    --secondary: rgb(93 92 114);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(226 224 249);
    --on-secondary-container: rgb(26 26 44);
    --tertiary: rgb(121 83 105);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(255 216 235);
    --on-tertiary-container: rgb(47 17 36);
    --error: rgb(186 26 26);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(65 0 2);
    --background: rgb(252 248 255);
    --on-background: rgb(27 27 33);
    --surface: rgb(252 248 255);
    --on-surface: rgb(27 27 33);
    --surface-variant: rgb(228 225 236);
    --on-surface-variant: rgb(71 70 79);
    --outline: rgb(119 118 128);
    --outline-variant: rgb(200 197 208);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(48 48 54);
    --inverse-on-surface: rgb(243 239 247);
    --inverse-primary: rgb(193 193 255);
    --primary-fixed: rgb(226 223 255);
    --on-primary-fixed: rgb(20 19 74);
    --primary-fixed-dim: rgb(193 193 255);
    --on-primary-fixed-variant: rgb(64 65 120);
    --secondary-fixed: rgb(226 224 249);
    --on-secondary-fixed: rgb(26 26 44);
    --secondary-fixed-dim: rgb(198 196 221);
    --on-secondary-fixed-variant: rgb(69 69 89);
    --tertiary-fixed: rgb(255 216 235);
    --on-tertiary-fixed: rgb(47 17 36);
    --tertiary-fixed-dim: rgb(233 185 211);
    --on-tertiary-fixed-variant: rgb(95 60 81);
    --surface-dim: rgb(220 217 224);
    --surface-bright: rgb(252 248 255);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(246 242 250);
    --surface-container: rgb(240 236 244);
    --surface-container-high: rgb(234 231 239);
    --surface-container-highest: rgb(228 225 233);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(193 193 255);
    --surface-tint: rgb(193 193 255);
    --on-primary: rgb(42 42 96);
    --primary-container: rgb(64 65 120);
    --on-primary-container: rgb(226 223 255);
    --secondary: rgb(198 196 221);
    --on-secondary: rgb(47 47 66);
    --secondary-container: rgb(69 69 89);
    --on-secondary-container: rgb(226 224 249);
    --tertiary: rgb(233 185 211);
    --on-tertiary: rgb(70 38 58);
    --tertiary-container: rgb(95 60 81);
    --on-tertiary-container: rgb(255 216 235);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(19 19 24);
    --on-background: rgb(228 225 233);
    --surface: rgb(19 19 24);
    --on-surface: rgb(228 225 233);
    --surface-variant: rgb(71 70 79);
    --on-surface-variant: rgb(200 197 208);
    --outline: rgb(145 143 154);
    --outline-variant: rgb(71 70 79);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(228 225 233);
    --inverse-on-surface: rgb(48 48 54);
    --inverse-primary: rgb(88 89 146);
    --primary-fixed: rgb(226 223 255);
    --on-primary-fixed: rgb(20 19 74);
    --primary-fixed-dim: rgb(193 193 255);
    --on-primary-fixed-variant: rgb(64 65 120);
    --secondary-fixed: rgb(226 224 249);
    --on-secondary-fixed: rgb(26 26 44);
    --secondary-fixed-dim: rgb(198 196 221);
    --on-secondary-fixed-variant: rgb(69 69 89);
    --tertiary-fixed: rgb(255 216 235);
    --on-tertiary-fixed: rgb(47 17 36);
    --tertiary-fixed-dim: rgb(233 185 211);
    --on-tertiary-fixed-variant: rgb(95 60 81);
    --surface-dim: rgb(19 19 24);
    --surface-bright: rgb(57 56 63);
    --surface-container-lowest: rgb(14 14 19);
    --surface-container-low: rgb(27 27 33);
    --surface-container: rgb(31 31 37);
    --surface-container-high: rgb(42 41 47);
    --surface-container-highest: rgb(53 52 58);
  }
}

body {
  background-color: var(--surface-container-lowest);
  color: var(--on-background);
  font-size: var(--font-size-medium);
}

h1 {
  font-size: var(--font-size-x-large);
}

h2 {
  font-size: var(--font-size-large);
}

.main-header {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  margin-block: var(--margin-small);
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--margin-medium);
  justify-content: center;
  grid-column-start: 2;
}

.main-nav > h1 > a {
  text-decoration: none;
  color: var(--on-background);
}

.main-nav > h1 {
  border: 0.3rem dashed var(--surface-tint);
  padding: var(--padding-x-small);
}

button {
  box-shadow: 0 0 0.4rem -0.1rem var(--shadow);
}
button:active {
  box-shadow: none;
}
button:hover {
  cursor: pointer;
}

.logout-button {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.logout-button > img {
  width: 2rem;
  height: 2rem;
}

.logout-button > img {
  width: 2rem;
  height: 2rem;
}

@media screen and (prefers-color-scheme: light) {
  .logout-button > img {
    filter: invert(5%) sepia(77%) saturate(6895%) hue-rotate(247deg)
      brightness(58%) contrast(94%);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .logout-button > img {
    filter: invert(96%) sepia(36%) saturate(3930%) hue-rotate(181deg)
      brightness(99%) contrast(105%);
  }
}
